#Build files
build/
AlphabeticalAppGrid@stuarthayhurst.shell-extension.zip
extension/locale/
extension/schemas/gschemas.compiled
locale/
schemas/gschemas.compiled

#Backups
*.po~
*.ui~
*.ui#

# Project dir
.idea
.vscode