# This workflow will thoroughly test the build system
name: Complete build system test

on:
  push:
    branches: '**'
  pull_request:
    branches: '**'

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v5
    - name: Install build dependencies
      run: |
        sudo apt-get update
        sudo apt-get install --no-install-recommends git make optipng gettext gnome-shell

    - name: Check asset optimisation targets work
      run: |
        # Check all assets are space optimised
        make compress COMPRESSLEVEL="-o0" "-j$(nproc)"

    - name: Check translation generation works
      run: |
        make translations
        git restore extension/po/

    - name: Test extension builds from current state
      run: |
        make build

    - name: Test extension is valid and able to be uploaded
      run: |
        make check

    - name: Check no extra files have been committed or missed
      run: |
        # Clean up files (shouldn't have to do anything)
        make clean
        # Fail if any files generated by last step that haven't been committed
        if [ ! -z "$(git status --porcelain)" ]; then exit 1; fi

    - name: Check release workflow is functional
      run: |
        make release COMPRESSLEVEL="-o0" "-j$(nproc)"

    - name: Test extension installs
      run: |
        make install
